.redes{
    position: fixed;
    top: 200px;
    z-index: 20;
    left: 0;
}
#facebook a{
    background: #3b5998;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    width: 15px;
    transition: all 0.4s ease;

}
#facebook a:hover{
    background: #000000;
    padding: 10px 35px;
    

}
#instagram a{
    background: #e95950;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 25px;
    transition: all 0.4s ease;

}
#instagram a:hover{
    background: #000000;
    padding: 10px 30px;
    
}
#tweeter a{
    background: #55acee;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 25px;
    transition: all 0.4s ease;
}

#tweeter a:hover{
    background: #000000;
    padding: 10px 30px;
    
}
#youtube a{
    background: #ff0000;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 25px;
    transition: all 0.4s ease;
}
#youtube a:hover{
    background: #000000;
    padding: 10px 30px;
    
}
